<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>572592746242-je50srdd36suk95q9qs5frk5j07fuict.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.572592746242-je50srdd36suk95q9qs5frk5j07fuict</string>
	<key>API_KEY</key>
	<string>AIzaSyCbPpo9G6m1vDFJHgTjcTW8hves6AC9S3o</string>
	<key>GCM_SENDER_ID</key>
	<string>572592746242</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.promovize.promovize</string>
	<key>PROJECT_ID</key>
	<string>promovize-54a12</string>
	<key>STORAGE_BUCKET</key>
	<string>promovize-54a12.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:572592746242:ios:43aff47a5eefbff753dc1b</string>
</dict>
</plist>